<!-- Panel Start -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="modal-title panel-title" id="activityLabel">{{action}} Actividad</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Título:</label>
            <input type="text" ng-model="activity.title" class="form-control">
        </div>
        <div class="form-group">
            <label>Descripcion:</label>
            <textarea ng-model="activity.description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Precio:</label>
            <div class="input-group">
                <input type="number" ng-model="activity.price" class="form-control" />
                <span class="input-group-addon">€</span>
            </div>
        </div>
        <div class="form-group">
            <label>Imagen:</label>
            <input type="file" ng-model="file" nv-file-select="" uploader="uploader" name="image"/>
        </div>
        <div class="form-group">
            <label>Fecha:</label>
            <div class="input-group col-md-8">
                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="activity.date" is-open="opened"
                       current-text="hoy" clear-text="limpiar" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-info"
                ng-click="accept()"><i class="fa fa-check"></i> {{ action }}</button>
    </div>
</div>
<!-- Panel End-->