<!-- Row Start -->
<div class="row text-center">

    <!-- Activities Start -->
    <div class="col-md-12 page-header">
        <a href="#/activity" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Añadir Actividad</a>
        <h1 class="text-left"><i class="fa fa-cubes"></i> Actividades</h1>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="activity in activities">
        <div class="thumbnail">
            <img src="{{ ! activity.picture ? 'images/no-image.png' : 'uploads/'+activity.picture }}" alt="">
            <div class="caption">
                <span class="price label label-info">{{ activity.price }} €</span>
                <h5>{{ activity.title }}</h5>
                <p>
                    <a href="#/backoffice/activity/{{ activity.id }}" class="btn btn-success" id="update:{{activity.id}}">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                    <button type="button" class="btn btn-danger" ng-click="openConfirmationModal(activity)" id="delete:{{activity.id}}">
                        <i class="fa fa-trash-o"></i> Borrar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Activities End -->

    <!-- Confirmation Modal Start-->
    <script type="text/ng-template" id="confirmationModalContent.html">
        <div class="panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" ng-click="modalCancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title panel-title" id="confirmationLabel"><i class="fa fa-warning"></i> Atención</h4>
            </div>
            <div class="modal-body">
                <p>¿Seguro que desea borrar la actividad {{ activity.title }}? No podrá ser recuperada</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="modalCancel()">Cancelar</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="modalOk(activity)"><i class="fa fa-trash"></i> Borrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
    <!-- Confirmation Modal End-->

</div>
<!-- row End -->