<!-- Row Start -->
<div class="row text-center">

    <!-- Activities Start -->
    <div class="col-md-12 page-header">
        <button ng-click="openActivityModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Añadir Actividad</button>
        <h1 class="text-left">Próximas actividades</h1>
        <div class="clearfix"></div>
    </div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="alert alert-info col-md-7 col-sm-9 col-xs-12" role="alert" ng-show="activities.length==0">
        <p><i class="fa fa-info-circle"></i> Aún no hay actividades disponibles.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="activity in activities">
        <div class="thumbnail">
            <img src="uploads/{{ activity.picture }}" alt="">
            <div class="caption">
                <span class="price label label-info">{{ activity.price }} €</span>
                <h3>{{ activity.title }}</h3>
                <p class="description">{{ activity.description }}</p>
                <p>
                    <button class="btn btn-success" id="update:{{activity.id}}" ng-click="openActivityModal(activity)">
                        <i class="fa fa-edit"></i> Editar
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="openConfirmationModal(activity)" id="delete:{{activity.id}}">
                        <i class="fa fa-trash-o"></i> Borrar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Activities End -->

    <!-- Activity Modal Start-->
    <script type="text/ng-template" id="activityModalContent.html">
        <div class="panel panel-info">
            <div class="modal-header panel-heading">
                <button type="button" class="close" ng-click="modalCancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title panel-title" id="activityLabel">{{action}} Actividad</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Título:</label>
                    <input type="text" ng-model="activity.title" class="form-control">
                </div>
                <div class="form-group">
                    <label>Descripcion:</label>
                    <textarea ng-model="activity.description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Precio:</label>
                    <input type="number" ng-model="activity.price" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Imagen:</label>
                    <input type="file" ng-model="file" nv-file-select="" uploader="uploader" name="image"/>
                </div>
                <div class="form-group">
                    <label>Fecha:</label>
                    <div class="input-group col-md-8">
                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="activity.date" is-open="opened"
                               current-text="hoy" clear-text="limpiar" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <timepicker ng-model="activity.date" hour-step="1" minute-step="30" show-meridian="false"></timepicker>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="modalCancel()">Cerrar</button>
                <button type="button" class="btn btn-info"
                    ng-click="update(activity); modalOk()"
                    data-dismiss="modal"><i class="fa fa-check"></i>{{ action }}</button>
            </div>
        </div>
    </script>
    <!-- Activity Modal End-->

    <!-- Confirmation Modal Start-->
    <script type="text/ng-template" id="confirmationModalContent.html">
        <div class="panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" ng-click="modalCancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title panel-title" id="confirmationLabel"><i class="fa fa-warning"></i> Atención</h4>
            </div>
            <div class="modal-body">
                <p>¿Seguro que desea borrar la actividad {{ activity.title }}? No podrá ser recuperada</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="modalCancel()">Cancelar</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="modalOk(activity)"><i class="fa fa-trash"></i> Borrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
    <!-- Confirmation Modal End-->


</div>
<!-- row End -->
