<!-- Row Start -->
<div class="row text-center">

    <!-- Activities Start -->
    <div class="col-md-12 page-header">
        <h1 class="text-left"><i class="fa fa-cubes"></i> Reservas</h1>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="reservation in reservations">
        <div class="thumbnail">
            <img src="{{ ! reservation.activity.picture ? 'images/no-image.png' : '../uploads/'+reservation.activity.picture }}" alt="">
            <div class="caption">
                <h4>{{ reservation.activity.title }}</h4>
                <h5>{{ reservation.name }} {{reservation.lastName}}</h5>
                <h5>Plazas reservadas: {{ reservation.places }}</h5>
                <p>
                    <!--<a href="#/activity/{{ activity.id }}" class="pure-button button-success" id="update:{{activity.id}}">
                        <i class="fa fa-edit"></i> Editar
                    </a>-->
                    <button type="button" class="pure-button button-error" ng-click="openConfirmationModal(reservation)" id="delete:{{reservation.id}}">
                        <i class="fa fa-trash-o"></i> Borrar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Activities End -->

    <!-- Confirmation Modal Start-->
    <script type="text/ng-template" id="confirmationModalContent.html">
        <div class="panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" ng-click="modalCancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title panel-title" id="confirmationLabel"><i class="fa fa-warning"></i> Atención</h4>
            </div>
            <div class="modal-body">
                <p>¿Seguro que desea borrar esta reserva? No podrá ser recuperada</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="modalCancel()">Cancelar</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="modalOk(reservation)"><i class="fa fa-trash"></i> Borrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
    <!-- Confirmation Modal End-->

</div>
<!-- row End -->