<!-- Row Start -->
<div class="row text-center">

    <!-- Users Start -->
    <div class="col-md-12 page-header">
        <a href="#/user" class="pure-button pure-button-primary pull-right"><i class="fa fa-plus"></i> Añadir User</a>
        <h1 class="text-left"><i class="fa fa-group"></i> Usuarios</h1>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="user in users">
        <div class="thumbnail">
            <div class="caption">
                <p class="text-center"><i class="fa fa-male fa-4x"></i> </p>
                <span class="price label label-success">{{ user.nif }}</span>
                <h5> {{user.userName}}</h5>
                <p>
                    <a href="#/user/{{ user.id }}" class="pure-button button-success" id="update:{{user.id}}">
                        <i class="fa fa-edit"></i> Editar
                    </a>
                    <button type="button" class="pure-button button-error" ng-click="openConfirmationModal(user)" id="delete:{{user.id}}">
                        <i class="fa fa-trash-o"></i> Borrar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- Users End -->

    <!-- Confirmation Modal Start-->
    <script type="text/ng-template" id="confirmationModalContent.html">
        <div class="panel panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" ng-click="modalCancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title panel-title" id="confirmationLabel"><i class="fa fa-warning"></i> Atención</h4>
            </div>
            <div class="modal-body">
                <p>¿Seguro que desea borrar al user {{ user.name }}? No podrá ser recuperado.</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="modalCancel()">Cancelar</button>
                    <button type="button" class="btn btn-danger" ng-click="modalOk(user)"><i class="fa fa-trash"></i> Borrar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </script>
    <!-- Confirmation Modal End-->

</div>
<!-- row End -->