<div class="row">

    <div class="col-separator clearfix"></div>

    <div class="col-md-2 left-menu">
        <ul class="nav nav-pills nav-stacked vertical-nav">
            <li class="title"><a  href="#">Categorías</a></li>
            <li ng-repeat="category in categories" >
                <a href="" class="list-group-item">{{category.title}}</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><a href="#/">Inicio</a></li>
            <li class="active">Actividades</li>
            <li class="active">Próximas actividades</li>
        </ol>
        <div class="clearfix"></div>
        <div class="col-sm-6 col-md-4" ng-repeat="activity in activities">
            <div class="thumbnail activity-box">
                <div class="activity-box-body">
                    <span class="category">{{activity.category.title}}</span>
                    <span class="title">{{activity.title}}</span>
                    <span class="price">{{activity.price}}€</span>
                    <span class="description">{{activity.description}}</span>
                    <div class="activity-box-footer">
                        <a href="#/activity/{{ activity.id }}" class="pure-button button-secondary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
