<div class="row">

    <div class="col-separator clearfix"></div>

    <div class="col-md-2 left-menu">
        <ul class="nav nav-pills nav-stacked vertical-nav">
            <li class="title"><a  href="#">Categorías</a></li>
            <li ng-repeat="category in categories" >
                <a href="" class="list-group-item">{{category.title}}</a>
            </li>
        </ul>
    </div>


    <div class="col-md-9">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="custom-article block-left">
                <div class="col-md-6">
                    <h4 class="custom-activity-title">{{ activity.title }}</h4>
                    <img class="img-responsive img-rounded" src="{{ ! activity.picture ? 'images/no-image.png' : 'uploads/'+activity.picture }}" alt="">
                </div>
                <div class="col-md-6">
                    <h4>
                        <span class="pull-right price">{{activity.price}}€</span>
                    </h4>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <p class="text-justify">{{activity.description}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4 class="block-left">
                    <span class="pull-left label label-info tag"><i class="fa fa-calendar"></i> {{activity.date | date: "d/MMM/yyyy 'a las' HH:mm'h'" }}</span>
                    <span class="pull-left label label-success tag"><i class="fa fa-tag"></i> {{activity.category.title}}</span>
                    <span class="pull-left label label-danger tag"><i class="fa fa-user"></i> {{activity.remainingPlaces}} plazas libres</span>
                </h4><div class="clearfix"></div>
                <h4 class="block-right">
                    <a href="" class="pure-button button-warning pull-right button-xlarge" ng-disabled="activity.remainingPlaces == 0" ><i class="fa fa-ticket"></i> Reservar</a>
                </h4>
            </div>
        </div>
    </div>


</div>
